*.png
.DS_Store
1.Braille-Translation/constraints.txt
1.Braille-Translation/solution.py
2.Dont-Get-Volunteered/constraints.txt
2.Dont-Get-Volunteered/solution.py
2.Dont-Get-Volunteered/solution.pyc
2.Dont-Get-Volunteered/solution_checking.py
3.Power-Hungry/constraints.txt
3.Power-Hungry/solution.py
4.Prepare-the-Bunnies-Escape/constraints.txt
4.Prepare-the-Bunnies-Escape/solution.py
5.Bomb-Baby/constraints.txt
5.Bomb-Baby/solution.py
6.Find-the-Access-Codes/constraints.txt
6.Find-the-Access-Codes/solution.py
6.Find-the-Access-Codes/solutionv2.py
6.Find-the-Access-Codes/solutionv3.py
7.Bringing-a-Gun-to-a-Trainer-Fight/constraints.txt
7.Bringing-a-Gun-to-a-Trainer-Fight/solution_20210124.py
7.Bringing-a-Gun-to-a-Trainer-Fight/solution_20210125.py
7.Bringing-a-Gun-to-a-Trainer-Fight/solution_a.py
7.Bringing-a-Gun-to-a-Trainer-Fight/solution_b.py
8.Running-with-Bunnies/constraints.txt
8.Running-with-Bunnies/solution_20210128.py
8.Running-with-Bunnies/solution.py
9.Disorderly-Escape/cycle_pattern.py
9.Disorderly-Escape/get_all_changes.py
9.Disorderly-Escape/get_all_changes_memo.py
9.Disorderly-Escape/solution.py
9.Disorderly-Escape/solution_20210214.py
9.Disorderly-Escape/solution_20210216.py
9.Disorderly-Escape/solution_passed.py
9.Disorderly-Escape/solution_20210222.py